<br>
<br>
<br>
<br>
<div class="container">
    <h2>Showing list of all arenas</h2>
    <!-- {{arenas}} -->
    <br>

    <div class="row">
        <div *ngFor="let arena of arenas">
            <div class="col-md-6">
                <div class="card" style="width: 18rem; padding: 10px">
                    <img src="src\assets\img\card_img.jpg" class="card-img-top" alt="Insert Card Picture">
                    <div class="card-body">
                        <h5 class="card-title">{{arena.arena_name}}</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                            content.</p>
                        <a (click)=onBookPitch(arena.uuid) class="btn btn-primary">Play Here</a>
                    </div>
                </div>
            <div>
            <br>
        </div>
    </div>

</div>