<div>
    <nav class="navbar navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" routerLink="/jumbotron">
            <i class="fa fa-futbol-o fa-3"  aria-hidden="true"></i>
            Turf Nation
        </a>
        <ul class="nav">
            <li class="nav-item">
              <a class="nav-link active" href="#">Log In</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="#">Sign Up</a>
            </li>
        </ul>
    </nav>
    
</div>
